@use "../../styles/variables.scss";

.footer {
  background-color: variables.$blue;
  margin-top: auto;

  ul {
    list-style: none;

    li {
      color: variables.$white;
      &:nth-child(2) {
        font-weight: 300;
      }
    }
  }
}
